@page "/Prestamo/Details/{PrestamoId:int}"
@rendermode InteractiveServer
@inject PrestamoService prestamoService
@inject NavigationManager navigationManager


<PageTitle>Detalles Prestamo</PageTitle>

@if (prestamo != null)
{
    <div class="container">
        <div class="row mb-3">
            <div class="card-header text-center">
                <h5 class="card-header">Detalles del prestamo</h5>
            </div>
            <div class="container">
                <div class="card-header">
                    <div class="col md-6">
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li>PrestamoId:<strong>@prestamo.PrestamoId</strong></li>
                                <li>Deudor:<strong>@prestamo.Deudor?.Nombres</strong></li>
                                <li>Concepto:<strong>@prestamo.Concepto</strong></li>
                                <li>Monto:<strong>@prestamo.Monto</strong></li>

                            </ul>

                        </div>
                       <div>
                            <a href="/Prestamo/Index" class="btn btn-primary"><span class="bi bi-arrow-left mt-3"></span>Volver</a>
                       </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
}


@code {
    [Parameter]
    public int PrestamoId { get; set; }
    public Prestamos? prestamo { get; set; } = new Prestamos();

    protected override async Task OnInitializedAsync()
    {
        prestamo = await prestamoService.Buscar(PrestamoId);
    }

}
